parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#3 \\.\\.\\.\\$values of function sprintf expects bool\\|float\\|int\\|string\\|null, mixed given\\.$#"
			count: 3
			path: performance/Shopify/CustomFilters.php

		-
			message: "#^Cannot access offset 'articles' on mixed\\.$#"
			count: 1
			path: performance/Shopify/Database.php

		-
			message: "#^Parameter \\#1 \\$array of function array_filter expects array, mixed given\\.$#"
			count: 1
			path: performance/Shopify/Database.php

		-
			message: "#^Parameter \\#1 \\$callback of function array_map expects \\(callable\\(mixed\\)\\: mixed\\)\\|null, Closure\\(array\\)\\: non\\-empty\\-array given\\.$#"
			count: 1
			path: performance/Shopify/Database.php

		-
			message: "#^Parameter \\#2 \\$array of function array_map expects array, mixed given\\.$#"
			count: 1
			path: performance/Shopify/Database.php

		-
			message: "#^Parameter \\#2 \\$callback of function array_filter expects \\(callable\\(mixed\\)\\: bool\\)\\|null, Closure\\(array\\)\\: bool given\\.$#"
			count: 1
			path: performance/Shopify/Database.php

		-
			message: "#^Parameter \\#3 \\.\\.\\.\\$values of function sprintf expects bool\\|float\\|int\\|string\\|null, mixed given\\.$#"
			count: 1
			path: tests/Stubs/TestDrop.php
