includes:
    - phpstan-baseline.neon

parameters:
    level: 9
    paths:
        - src
        - performance
        - tests/Stubs
    tmpDir: build/phpstan
    treatPhpDocTypesAsCertain: false
    checkGenericClassInNonGenericObjectType: true
    checkPhpDocMissingReturn: true

    ignoreErrors:
        - identifier: missingType.iterableValue
        - '#Method .+ should return .+ but returns mixed#'
