includes:
    - ./vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - phpstan-baseline.neon

parameters:
    level: 9
    paths:
        - src
        - performance
        - tests/Stubs
    tmpDir: build/phpstan
    treatPhpDocTypesAsCertain: false
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: true
    checkPhpDocMissingReturn: true
    featureToggles:
        disableCheckMissingIterableValueType: false

    ignoreErrors:
        - '#Method .+ should return .+ but returns mixed#'
